
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home li{
    background-color: #555;
    min-width: 50vw;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
}

.home li:hover{
    background-color: #777;
}
.home h3,p{
    padding: 0;
    margin: 0;
}

.home input[type='submit']{
    margin-left: 10px;
    width: 70px;
}